* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  
html {
    scroll-behavior: smooth;
    height: 100%; 
}
  
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    /* height: 4613px; */
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: #ECEFF2;
}

.wrapper {
    margin: auto;
    padding: 0;
    min-height: 100%;
}

.form-section {
    display: flex;
    width: 1440px;
    height: 700px;
    background-color: #FFF;
    margin-top: auto;
    margin-bottom: auto;
}

.form-title {
    color: #000;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 50px;
    margin-bottom: 6px;
}

p, .label {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-text {
    margin-bottom: 16px;
}

.form-info {
    margin-left: 40px;
}


.name {
    width: 400px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(162, 159, 158, 0.30);
    background: #FFF;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 20px;
    color: #A29F9E;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.name:hover {
    text-decoration: hidden;
    cursor: pointer;
}

.phone {
    width: 400px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(162, 159, 158, 0.30);
    background: #FFF;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 30px;
    color: #A29F9E;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
}

.radio-text {
    margin-bottom: 16px;
}

.label {
    margin-right: 56px;
}

.radio-box {
    margin-bottom: 36px;
}

input[type="radio"] {
    display: none;
}

.custom-radio {
    display: inline-block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid rgba(162, 159, 158, 0.30);
    background: #FFF;
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.40);
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
}

input[type="radio"]:checked + .custom-radio {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border: 4px solid rgba(255, 245, 242, 0.87);;
    border-radius: 15px;
    background: #F00;
}

.form-btn {
    display: flex;
    width: 400px;
    height: 60px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #F00;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    margin-bottom: 26px; 
}

.text-sub {
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.check {
    width: 400px;
    height: 122px;
    flex-shrink: 0;
}

.square {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

input[type="checkbox"] {
    display: none;
}

.custom-check {
    display: inline-block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid rgba(162, 159, 158, 0.30);
    background: #FFF;
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.40);
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
}

input[type="checkbox"]:checked + .custom-check {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border: 4px solid rgba(255, 245, 242, 0.87);;
    background: #F00;
}

.check {
    display: flex;
}

.agree {
    margin-left: -55px;
}


.form-btn:hover {
    background: #DB0000;
}

.contacts-form {
    display: flex;
    flex-direction: column;
}

#rules {
    width: 919px;
    height: 436px;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.03);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
    margin-top: 91px;
    margin-bottom: 173px;
}

.hidden {
    display: none;
}

.rules-text {
    color: #000;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    padding: 22px 24px 19px 28px; 

}

#link-rules {
    text-decoration: underline;
    cursor: pointer;
}

.li {
    padding-left: 12px;
}

.link-site {
    text-decoration: underline;
    cursor: pointer;
}

input:invalid:required {
    border-radius: 10px;
    border: 1px solid #F00;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(255, 0, 0, 0.20);
}
